<!--=== Flex Slider Start ======-->
  <section class="pt-0 pb-0" id="home">
    <div class="slider-bg flexslider">
      <ul class="slides">
        <!--=== SLIDE 1 ===-->
        <li>
          <div class="slide-img" style="background:url(<%= asset_path 'burger1.jpg' %>) center center / cover scroll no-repeat;" data-stellar-background-ratio="0.2"></div>
          <div class="hero-text-wrap">
            <div class="hero-text white-color">
              <div class="container text-center">
                <h2 class="text-uppercase font-400 source-font">Digital Burgers</h2>
                <h1 class="text-uppercase font-700">FIND THE BEST BURGERS</h1>
                <h3 class="font-400">Good burgers are delicious.</h3>
                <p class="text-center mt-30">
                  <a class="btn btn-color btn-circle btn-animate"><span>Find Burgers <i class="mdi mdi-arrow-right"></i></span></a>
                  <!-- <a class="btn btn-outline-white btn-circle">Contact Us</a> </p> -->
              </div>
            </div>
          </div>
        </li>
        <!--=== SLIDE 2 ===-->
        <li>
          <div class="slide-img" style="background:url(<%= asset_path 'burger2.jpg' %>) center center / cover scroll no-repeat;" data-stellar-background-ratio="0.2"></div>
          <div class="hero-text-wrap">
            <div class="hero-text white-color">
              <div class="container text-center">
                <h2 class="text-uppercase font-400 source-font">Digital Burgers</h2>
                <h1 class="text-uppercase font-700">FIND THE BEST BURGERS</h1>
                <h3 class="font-400">Good burgers are delicious.</h3>
                <p class="text-center mt-30">
                  <a class="btn btn-color btn-circle btn-animate"><span>Find burgers <i class="mdi mdi-arrow-right"></i></span></a>
                  <!-- <a class="btn btn-outline-white btn-circle">Our Services</a>  -->
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!--=== Flex Slider End ======-->

  <!--=== Who We Are Start ======-->
<section class="first-ico-box" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 section-heading">
        <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Who We Are</h2>
        <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- The world at your fingertips -</h4>
        <div class="mt-30 wow fadeTop" data-wow-delay="0.3s">
          <p>We’re nuts about improving your business so we ensure that we track results from day one. Sure, we come up with great creative ideas that engage and captivate your customers, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius quam ut magna ultricies pellentesque. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=== Who We Are End ======-->

<!--=== What We Do Start ======-->
  <section class="white-bg">
    <div class="col-md-6 col-sm-4 bg-flex bg-flex-left">
      <div class="bg-flex-holder bg-flex-cover" style="background-image: url(<%= asset_path 'onepage-bg-left.jpg' %>);"></div>
    </div>
    <div class="container">
      <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
        <h1 class="lato-font font-700 wow fadeTop" data-wow-delay="0.1s">What We Do</h1>
        <h4 class="mt-10 line-height-26 wow fadeTop" data-wow-delay="0.2s">We develop big ideas that sell.</h4>
        <div class="left-service-box pt-40 pb-20 row">
          <div class="col-md-12 feature-box text-left mb-50 col-sm-6 wow fadeTop" data-wow-delay="0.1s">
            <div class="pull-left"><i class="mdi mdi-lock-pattern font-60px blue-icon"></i></div>
            <div class="pull-right">
              <h5 class="mt-0 upper-case">Brand Design</h5>
              <p>Designing a good website that accommodates a lot of content is a tricky balancing act to pull off.</p>
            </div>
          </div>
          <div class="col-md-12 feature-box text-left mb-50 col-sm-6 wow fadeTop" data-wow-delay="0.2s">
            <div class="pull-left"><i class="mdi mdi-test-tube font-60px blue-icon"></i></div>
            <div class="pull-right">
              <h5 class="mt-0 upper-case">App Development</h5>
              <p>We build mobile apps for the conference, integrating unique content and branding to create.</p>
            </div>
          </div>
          <div class="col-md-12 feature-box text-left col-sm-6 wow fadeTop" data-wow-delay="0.3s">
            <div class="pull-left"><i class="mdi mdi-lightbulb-on font-60px blue-icon"></i></div>
            <div class="pull-right">
              <h5 class="mt-0 upper-case">Digital Marketing</h5>
              <p>Google has made this important since 1998 when it launched. Content became, and still is king since websites.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=== What We Do End ======-->

  <!--=== Our Services Start ======-->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Our Services</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Design your presence -</h4>
        </div>
      </div>
      <div class="row mt-50">
        <div class="col-md-3 feature-box text-center col-sm-6 wow fadeTop" data-wow-delay="0.1s"> <i class="mdi mdi-emby font-40px dark-icon white-bg-icon circle-icon fade-icon"></i>
          <h4 class="upper-case">Web Design</h4>
          <p>Designing a good website that accommodates a lot of content is a tricky balancing act to pull off.</p>
        </div>
        <div class="col-md-3 feature-box text-center col-sm-6 wow fadeTop" data-wow-delay="0.2s"> <i class="mdi mdi-qrcode font-40px dark-icon white-bg-icon circle-icon fade-icon"></i>
          <h4 class="upper-case">App Development</h4>
          <p>We build mobile apps for the conference, integrating unique content and branding to create.</p>
        </div>
        <div class="col-md-3 feature-box text-center col-sm-6 wow fadeTop" data-wow-delay="0.3s"> <i class="mdi mdi-diamond font-40px dark-icon white-bg-icon circle-icon fade-icon"></i>
          <h4 class="upper-case">Digital Marketing</h4>
          <p>Google has made this important since 1998 when it launched. Content became, and still is king since websites.</p>
        </div>
        <div class="col-md-3 feature-box text-center col-sm-6 wow fadeTop" data-wow-delay="0.4s"> <i class="mdi mdi-cat font-40px dark-icon white-bg-icon circle-icon fade-icon"></i>
          <h4 class="upper-case">UI / UX Friendly</h4>
          <p>UX design refers to the term user experience design, while UI design stands for user interface design.</p>
        </div>
      </div>
    </div>
  </section>
  <!--=== Our Services End ======-->

  <!--=== Our Team Start ======-->
  <section class="white-bg" id="team">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Meet Our Team</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- We Are Stronger -</h4>
        </div>
      </div>
      <div class="row mt-50">
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeTop" data-wow-delay="0.1s">
          <div class="team-member-container gallery-image-hover"> <img src="<%= asset_path 'team-01.jpg' %>" class="img-responsive" alt="team-01">
            <div class="member-caption">
              <div class="member-description text-center">
                <div class="member-description-wrap">
                  <h4 class="member-title">David Marks</h4>
                  <p class="member-subtitle">UI/UX Designer</p>
                  <ul class="member-icons">
                    <li class="social-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=== Member End ===-->
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeTop" data-wow-delay="0.2s">
          <div class="team-member-container gallery-image-hover"> <img src="<%= asset_path 'team-02.jpg' %>" class="img-responsive" alt="team-02">
            <div class="member-caption">
              <div class="member-description text-center">
                <div class="member-description-wrap">
                  <h4 class="member-title">Lynda Stone</h4>
                  <p class="member-subtitle">Photographer</p>
                  <ul class="member-icons">
                    <li class="social-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=== Member End ===-->
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeTop" data-wow-delay="0.3s">
          <div class="team-member-container gallery-image-hover"> <img src="<%= asset_path 'team-03.jpg' %>" class="img-responsive" alt="team-03">
            <div class="member-caption">
              <div class="member-description text-center">
                <div class="member-description-wrap">
                  <h4 class="member-title">Karl Casey</h4>
                  <p class="member-subtitle">Web Developer</p>
                  <ul class="member-icons">
                    <li class="social-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=== Member End ===-->
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeTop" data-wow-delay="0.4s">
          <div class="team-member-container gallery-image-hover"> <img src="<%= asset_path 'team-04.jpg' %>" class="img-responsive" alt="team-04">
            <div class="member-caption">
              <div class="member-description text-center">
                <div class="member-description-wrap">
                  <h4 class="member-title">Roland Buford</h4>
                  <p class="member-subtitle">CEO/Founder</p>
                  <ul class="member-icons">
                    <li class="social-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=== Member End ===-->
      </div>
    </div>
  </section>
  <!--=== Our Team End ======-->

  <!--=== Portfolio Start ======-->
  <section class="pt-0 pb-0 white-bg" id="work">
    <div class="container-fluid">
      <div class="row">
        <div class="portfolio-container text-center">
          <ul id="portfolio-filter" class="list-inline wow fadeTop" data-wow-delay="0.1s">
            <li class="active" data-group="all">All</li>
            <li data-group="design">Design</li>
            <li data-group="web">Web</li>
            <li data-group="branding">Branding</li>
            <li data-group="print">Print</li>
          </ul>
          <ul id="portfolio-grid" class="three-column hover-two">
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.1s" data-groups='["all", "print", "branding"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="<%= asset_path '1.jpg' %>" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Business Cards</h3>
                    <a href="single-portfolio.html" class="links">Print Design</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="<%= asset_path '1.jpg' %>"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.2s" data-groups='["all", "branding", "web"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="<%= asset_path '2.jpg' %>" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Magazine</h3>
                    <a href="single-portfolio.html" class="links">Branding</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="<%= asset_path '2.jpg' %>"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.3s" data-groups='["all", "branding"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="<%= asset_path '3.jpg' %>" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Rabycad CD Design</h3>
                    <a href="single-portfolio.html" class="links">Branding</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="<%= asset_path '3.jpg' %>"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.4s" data-groups='["all", "print", "design"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="<%= asset_path '4.jpg' %>" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Micro Chips</h3>
                    <a href="single-portfolio.html" class="links">Web Design</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="<%= asset_path '4.jpg' %>"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.5s" data-groups='["all", "design"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="<%= asset_path '5.jpg' %>" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Flyer</h3>
                    <a href="single-portfolio.html" class="links">Print Design</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="<%= asset_path '5.jpg' %>"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            <li class="portfolio-item wow fadeIn" data-wow-delay="0.6s" data-groups='["all", "design", "web"]'>
              <div class="portfolio gallery-image-hover">
                <div class="dark-overlay"></div>
                <img src="<%= asset_path '6.jpg' %>" alt="">
                <div class="portfolio-wrap">
                  <div class="portfolio-description">
                    <h3 class="portfolio-title">Flat Web Design</h3>
                    <a href="single-portfolio.html" class="links">Web Design</a> </div>
                  <!--=== /.project-info ===-->
                  <ul class="portfolio-details">
                    <li><a class="alpha-lightbox" href="<%= asset_path '6.jpg' %>"><i class="fa fa-search"></i></a></li>
                    <li><a href="single-portfolio.html"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--=== Portfolio End ======-->

  <!--=== Counter Start ======-->
  <section class="dark-bg pt-80 pb-80">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.1s"> <i class="mdi mdi-clock blue-icon font-30px"></i>
          <h2 class="count white-color font-700">5600</h2>
          <h3>Working Hours</h3>
        </div>
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.2s"> <i class="mdi mdi-emoticon blue-icon font-30px"></i>
          <h2 class="count white-color font-700">220</h2>
          <h3>Happy Clients</h3>
        </div>
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.3s"> <i class="mdi mdi-trophy-variant blue-icon font-30px"></i>
          <h2 class="count white-color font-700">108</h2>
          <h3>Awwwards</h3>
        </div>
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.4s"> <i class="mdi mdi-cup blue-icon font-30px"></i>
          <h2 class="count white-color font-700">650</h2>
          <h3>Projects a Year</h3>
        </div>
      </div>
    </div>
  </section>
  <!--=== Counter End ======-->

  <!--=== Testimonails Start ======-->
  <section class="grey-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Testimonials</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Statisfy Clients -</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="slick testimonial">
            <!--=== Slide ===-->
            <div class="testimonial-item">
              <div class="testimonial-content"> <img class="img-responsive img-circle" src="<%= asset_path 'avatar-1.jpg' %>" alt="avatar-1"/>
                <h5>Hank Dano</h5>
                <p>Founder &amp; CEO of Arcon </p>
                <h4>Quisque hendrerit turpis sit amet tortor condimentum, nec commodo lorem condimentum. Sed id diam efficitur, mattis tellus ac, malesuada purus. In ultrices nisl sed eleifend consequat.</h4>
              </div>
            </div>
            <!--=== Slide ===-->
            <div class="testimonial-item">
              <div class="testimonial-content"> <img class="img-responsive img-circle" src="<%= asset_path 'avatar-1.jpg' %>" alt="avatar-1"/>
                <h5>Julia Banks</h5>
                <p>CEO of Arcon</p>
                <h4>Quisque hendrerit turpis sit amet tortor condimentum, nec commodo lorem condimentum. Sed id diam efficitur, mattis tellus ac, malesuada purus. In ultrices nisl sed eleifend consequat.</h4>
              </div>
            </div>
            <!--=== Slide ===-->
            <div class="testimonial-item">
              <div class="testimonial-content"> <img class="img-responsive img-circle" src="<%= asset_path 'avatar-1.jpg' %>" alt="avatar-1"/>
                <h5>Mark Smith</h5>
                <p>CEO of Arcon</p>
                <h4>Quisque hendrerit turpis sit amet tortor condimentum, nec commodo lorem condimentum. Sed id diam efficitur, mattis tellus ac, malesuada purus. In ultrices nisl sed eleifend consequat.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=== Testimonails End ======-->

  <!--=== Pricing Start ======-->
  <section id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase wow fadeTop" data-wow-delay="0.1s">Our Pricing</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Choose Your Plan -</h4>
        </div>
      </div>
      <div class="row mt-50">
        <div class="col-md-3 pricing-table col-sm-6 wow fadeTop" data-wow-delay="0.1s">
          <div class="pricing-box">
            <h4>Started</h4>
            <h2><sup>$</sup><span>0.99</span></h2>
            <ul>
              <li>512 GB Ram</li>
              <li>50 GB Disk</li>
              <li>1 User</li>
              <li>4TB Bandwidth</li>
            </ul>
            <div class="pricing-box-bottom"> <a href="#" class="btn btn-color btn-circle btn-animate"><span>Purchase Now <i class="mdi mdi-arrow-right"></i></span></a> </div>
          </div>
        </div>
        <div class="col-md-3 pricing-table col-sm-6 wow fadeTop" data-wow-delay="0.2s">
          <div class="pricing-box">
            <h4>Basic</h4>
            <h2><sup>$</sup><span>19.99</span></h2>
            <ul>
              <li>512 GB Ram</li>
              <li>80 GB Disk</li>
              <li>2 User</li>
              <li>4TB Bandwidth</li>
            </ul>
            <div class="pricing-box-bottom"> <a href="#" class="btn btn-color btn-circle btn-animate"><span>Purchase Now <i class="mdi mdi-arrow-right"></i></span></a> </div>
          </div>
        </div>
        <div class="col-md-3 pricing-table-featured col-sm-6 wow fadeTop" data-wow-delay="0.3s">
          <div class="pricing-box">
            <h4>Standard</h4>
            <h2><sup>$</sup><span>39.99</span></h2>
            <div class="pricicng-feature">
              <ul>
                <li>768 GB Ram</li>
                <li>80 GB Disk</li>
                <li>3 User</li>
                <li>Full Data Security</li>
                <li>Unlimited Questions</li>
                <li>6TB Bandwidth</li>
              </ul>
            </div>
            <div class="pricing-box-bottom"> <a href="#" class="btn btn-color btn-circle btn-animate"><span>Purchase Now <i class="mdi mdi-arrow-right"></i></span></a> </div>
          </div>
        </div>
        <div class="col-md-3 pricing-table col-sm-6 wow fadeTop" data-wow-delay="0.4s">
          <div class="pricing-box">
            <h4>Pro</h4>
            <h2><sup>$</sup><span>49.99</span></h2>
            <ul>
              <li>1 TB Ram</li>
              <li>1 TB Disk</li>
              <li>4 User</li>
              <li>4TB Bandwidth</li>
            </ul>
            <div class="pricing-box-bottom"> <a href="#" class="btn btn-color btn-circle btn-animate"><span>Purchase Now <i class="mdi mdi-arrow-right"></i></span></a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=== Pricing End ======-->

  <!--=== Contact Us Start ======-->
  <section class="contact-us white-bg" id="contact">
    <div class="container">
      <div class="clearfix">
        <div class="bg-flex-right col-md-5 map-section">
          <div id="myMap"></div>
        </div>
        <div class="col-about-left col-md-7 text-left">
          <h2 class="text-uppercase font-700 wow fadeTop" data-wow-delay="0.1s">Contact Us</h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Stay in Touch -</h4>
          <form name="contact-form" id="contact-form" action="php/contact.php" method="POST" class="mt-50">
            <div class="messages"></div>
            <div class="form-group wow fadeTop" data-wow-delay="0.1s">
              <label class="sr-only" for="name">Name</label>
              <input type="text" name="name" class="form-control" id="name" required="required" placeholder="Your Name" data-error="Your Name is Required">
              <div class="help-block with-errors mt-20"></div>
            </div>
            <div class="form-group wow fadeTop" data-wow-delay="0.2s">
              <label class="sr-only" for="email">Email</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Your Email" required="required" data-error="Please Enter Valid Email">
              <div class="help-block with-errors mt-20"></div>
            </div>
            <div class="form-group wow fadeTop" data-wow-delay="0.3s">
              <label class="sr-only" for="message">Message</label>
              <textarea name="message" class="form-control" id="message" rows="7" placeholder="Your Message" required data-error="Please, Leave us a message"></textarea>
              <div class="help-block with-errors mt-20"></div>
            </div>
            <button type="submit" name="submit" class="btn btn-color btn-circle wow fadeTop" data-wow-delay="0.4s">Book Now</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--=== Contact Us End ======-->
